.element__delete-button {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  box-sizing: border-box;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.element__delete-button:hover {
  opacity: .6;
  cursor: pointer;
  transition: .5s;
}
