.header {
  margin: 0 0 40px;
  padding: 0;
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 890px) {
  .header {
    min-height: 56px;
    margin: 0 0 42px;
  }
}