.element__like-button {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background: transparent;
  box-sizing: border-box;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.element__like-button:hover {
  cursor: pointer;
  opacity: .5;
  transition: .5s;
}
